*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
    margin: 0 100px;
}

.div-container{
    line-height: 2em;
display: flex;
flex-direction: row;
justify-content: center;
 background-color: white;
}
.div-image img{
   
    height: 100px;
}
.div-image{
 width: 40%;
 display: flex;
 flex-direction: row;
 justify-content: center;
}
.div-desc{
    width: 60%;
    padding: 5px;
}
.desc1{
    font-weight: bold;
}
.desc2{
    list-style:1em;
    color: grey;
    
}
.div-btn{
    color: white;
    background-color: red;
    display: inline-block;
    padding: 10px;
}